<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours and Travel</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to  custom CSS file -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
</head>
<body>
    <!-- Navigation Bar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"> <!-- Add fixed-top class -->
        <a class="navbar-brand" href="/">Tours and Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-center mt-5">
        <h1 class="animated-heading">Welcome to Tours and Travel</h1>
    </div>
    <!-- Large Animated Buttons Section (Login and Register) -->
    <div id="login-section" class="center-buttons">
        <a href="/login" class="large-button">Login</a>
        <a href="/registration" class="large-button">Register</a>
    </div>

 <!-- Footer Section -->
    <footer class="footer">
        &copy; 2023 Tours and Travel
    </footer>

    <!-- Add Bootstrap JS and jQuery links at the end of the body for Bootstrap functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>