<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
	<!-- Link to Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Link to  custom CSS file -->
	<link rel="stylesheet" type="text/css" href="/css/register.css">
</head>

<body>
	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" href="/">Tours and Travel</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/registration">Register</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<!-- Success message -->
				<div th:if="${param.success}" class="alert alert-success text-center">
					<i class="fas fa-check-circle"></i> You've successfully registered.
				</div>
				<div class="container mt-5" style="margin-top: 80px;">
					<div class="form-container">
						<h2 class="card-title text-center">Sign Up</h2>
						<form th:action="@{/registration}" method="post" th:object="${user}">
							<div class="form-group">
								<label for="firstName" style="font-weight: bold;">First Name</label>
								<input id="firstName" class="form-control" th:field="*{name}" required autofocus
									pattern="[A-Za-z\s]+" title="Invalid name (only letters and spaces allowed)" />
							</div>

							<div class="form-group">
								<label for="email" style="font-weight: bold;">Email</label>
								<input id="email" class="form-control" type="email" th:field="*{email_id}" required
									autofocus />
							</div>
							<div class="form-group">
								<label for="password" style="font-weight: bold;">Password</label>
								<input id="password" class="form-control" type="password" th:field="*{password}"
									required />
							</div>

							<div class="form-group">
								<label for="role" style="font-weight: bold;">Role</label>
								<select id="role" class="form-control" th:field="*{role}">
									<option value="USER">USER</option>
									<option value="ADMIN">ADMIN</option>
								</select>
							</div>

							<div class="form-group text-center">
								<button type="submit" class="btn btn-primary" style="width: 100px;">Register</button>
							</div>
						</form>
						<p class="text-center" style="margin-top: 10px;">Already registered? <a href="/login"
								th:href="@{/login}" style="font-weight: bold;">Login here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Include Bootstrap JS and jQuery at the end of the body for Bootstrap functionality -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>